* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
    --verde: #1d8d24;
    --laranja: #ef6c00;
    --cinza: #2e2e2e;
    --branco: #f9f9f9;
    --azul: #2a629f;
}
/* pagina mural */

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.container{
  width: 100%;
}

.container h1{
  margin: 40px 0 40px 0;
}

.div-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.campo{
  width: 50%;
}

input, select {
  background-color: var(--cinza);
  color: var(--branco);
  border: 3px solid var(--verde);
  border-radius: 10px;
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 0 0 0 15px;
  transition: .2s;
}

input:focus, select:focus{
  border: 3px solid var(--verde);
  transform: scale(1.02);
  outline: none;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: var(--verde);
  width: 100%;
  margin-top: 20px;
}

.publicacao-btn-editar {
  cursor: pointer;
  border: 2px solid #2ecc71;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #2ecc7155;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 3px solid var(--verde);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
  display: flex;
  justify-content: center;
}

.feed-container{
  width: 50%;
}

.div-results .feed-container {
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: var(--cinza);
  height: 100vh;
  padding: 10px;
  gap: 10px;
}

.container-indicadores{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}

.indicador{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  color: var(--branco);
  text-align: center;
  width: 24%;
  height: 100%;
  border-radius: 10px;
}

.container-mid, .container-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40%;
}

.container-graficoLinha{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49.5%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
}

.container-graficoBarra{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49.5%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
}

.container-legenda{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 49.5%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
}

.cores, .ranks{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45%;
  height: 100%;
  font-weight: bold;
}

.verde, .amarelo, .vermelho{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px 0px 15px 15px;
  border-radius: 10px;
}

.verde {
  background-color: #10b1107c;
  border: 2px solid #10b110;
}

.amarelo {
  background-color: #ffc1077c;
  border: 2px solid #ffc107;
}

.vermelho {
  background-color: #dc35457c;
  border: 2px solid #dc3545;
}

.ranks{
  font-size: 1.2rem;
}

.container-graficoPizza{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49.5%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: var(--verde);
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: var(--verde);
}

.btn-white {
  color: var(--verde);
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #212124;
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: var(--verde);
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: var(--branco);
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.header-left a, .btn-logout{
  width: 10vw;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 2px solid var(--branco);
  border-radius: 5px;
  padding: 10px 20px;
  transition: .3s;
  cursor: pointer;
}

.header-left a:hover{
  transform: scale(1.05);
  border: 2px solid #2ecc71;
  background-color: #2ecc7155;
}

.header-left h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


/* Estilização da scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--cinza); /* trilho da scrollbar */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2e8b57; 
  border-radius: 10px;
}

.borda-vermelha {
  border: 2px solid #e63946;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
}
.botao-derrota, .btn-logout:hover{
  border: 2px solid #e63946;
  background-color: #8b000075;
}