:root{
    --verde: #1B5E20;
    --laranja: #EF6C00;
    --branco: #F9F9F9;
    --cinza: #2E2E2E;
    --azul: #203B57;
}

.card {
  width: 35vw;
  background-color: var(--cinza);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 2.5rem;
  color: var(--branco);
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input, .campo select {
  border: 2px solid var(--laranja);
  border-radius: 10px;
  height: 45px;
  margin: 0;
  padding: 0 15px;
  transition: .2s;
}

.formulario input:focus, .campo select:focus{
  border: 2px solid var(--laranja);
  transform: scale(1.02);
  outline: none;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  background-color: transparent;
  color: var(--branco);
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 3px solid var(--laranja);
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 20px;
  transition: .2s;
  outline: none;
}

.botao:hover{
  transform: scale(1.02);
  background-color: var(--verde);
  color: var(--branco);
  border: 3px solid var(--verde);
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #6f00001b;
  color: var(--branco);
  width: 100%;
  position: relative;
  border: #6f0000 3px solid;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
}

.card_erro #mensagem_erro{
  font-weight: bold;
  font-size: 1rem;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}